/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
    color: white;
}

.mat-mdc-snack-bar-container {
    &.success {
        --mdc-snackbar-container-color: #23c552;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    &.error {
        --mdc-snackbar-container-color: #f84f31;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-center {
    margin: 0 auto;
}

.custom-badge {
    background-color: #fff;
    border-radius: 20px;
    color: #424242;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.data-table {
    .mat-mdc-row {
        .mat-mdc-cell {
            cursor: pointer;
            transition: 0.4s filter;
        }
        &:hover .mat-mdc-cell {
            filter: brightness(1.5);
        }
    }
}
mat-toolbar {
    padding: 10px 0;
}
mat-paginator {
    background-color: transparent;
    margin-left: auto;
}

form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    mat-radio-group {
        display: flex;
        flex-direction: column;
        mat-radio-button:not(:last-child) {
            margin-right: 15px;
        }
    }
}
