<h4 mat-dialog-title *ngIf="!data; else editText">Nowe pytanie</h4>
<ng-template #editText>
    <h4 mat-dialog-title>Edytujesz pytanie: {{data.name}}</h4>
</ng-template>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="saveQuestion()">
        <div>
            <mat-slide-toggle formControlName="active">Pytanie aktywne</mat-slide-toggle>
        </div>
        <mat-form-field>
            <mat-label>Pytanie</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-radio-group aria-label="Wybierz typ pytania" formControlName="type">
            <span>
                Typ pytania
            </span>
            <div>
                <ng-template ngFor let-type [ngForOf]="QUESTION_TYPES | keyvalue" let-i="index">
                    <mat-radio-button [value]="type.value"
                        [disabled]="type.value == QUESTION_TYPES.TRUE_FALSE">{{type.value |
                        questionTypeToText}}</mat-radio-button>
                </ng-template>
            </div>
        </mat-radio-group>
        <div>
            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="fileSelected()" #fileInput type="file">
            <div *ngIf="attachmentFile" style="padding: 20px 0 0; display: flex; align-items: center; gap: 10px;">
                <button mat-icon-button color="warn" type="button" (click)="removeFile()">
                    <mat-icon fontIcon="close"></mat-icon>
                </button>
                Wybrany plik: {{attachmentFile?.name}}
            </div>
        </div>
        <div *ngIf="form.get('type')?.value != QUESTION_TYPES.TRUE_FALSE">
            <app-search-input label="Wyszukaj odpowiedzi" [searchFunc]="searchForAnswers" display="title"
                [pickedByDefault]="data?.answers ?? []"
                (pickedItemsChanged)="(updatePickedAnswers($event))"></app-search-input>
        </div>
        <div style="display: flex;">
            <button type="submit" mat-raised-button color="accent" class="btn-center"
                [disabled]="!form.valid || questionSentLoading || data && !form.dirty">
                <mat-spinner style="width: 30px; height: 30px;"
                    *ngIf="questionSentLoading; else buttonText"></mat-spinner>
                <ng-template #buttonText>
                    <div class="btn-icon">
                        Zapisz
                        <mat-icon fontIcon="save"></mat-icon>
                    </div>
                </ng-template>
            </button>
            <button type="button" mat-raised-button color="warn" class="btn-center" *ngIf="data"
                [disabled]="questionSentLoading" (click)="deleteQuestion()">
                <mat-spinner style="width: 30px; height: 30px;"
                    *ngIf="questionSentLoading; else deleteIcon"></mat-spinner>
                <ng-template #deleteIcon>
                    <div class="btn-icon">
                        Usuń
                        <mat-icon fontIcon="delete"></mat-icon>
                    </div>

                </ng-template>
            </button>
        </div>

    </form>
</div>