form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    mat-radio-group {
        display: flex;
        flex-direction: column;
        mat-radio-button:not(:last-child) {
            margin-right: 15px;
        }
    }
}
